div.TopCenter-Screen {
    position: absolute;
    margin: auto;
    justify-content: center;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.BottomCenter-Screen {
    position: absolute;
    margin: auto;
    justify-content: center;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Nunito-Regular {
    font-family: 'Nunito', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);
}

.ProjectFont {
    margin: auto;
    margin: 4px 0px;
    font-weight: normal;
    font-size: 45px;
    font-family: 'Nunito', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);
}

.SourceSansPro {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 100;
    font-size: 16px;
    src: url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap);
}

.about-container {
    background-color: rgb(241, 241, 241);

    border-radius: 4px;

    -webkit-box-shadow: 5px 5px 32px 1px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 32px 1px rgba(0,0,0,0.5);

    padding: 4px 12px;
    margin: 10px;

    top: 0;
    right: 0;
    position: absolute;
}

.about-container:hover {
    cursor: pointer;
}

.flex-container {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.flex-container > div {
    background-color: rgb(241, 241, 241);

    border-radius: 4px;

    -webkit-box-shadow: 5px 5px 32px 1px rgba(0,0,0,0.5); 
    box-shadow: 5px 5px 32px 1px rgba(0,0,0,0.5);

    max-height: 600px;
    max-width: 600px;
    margin: 10px;

    text-align: center;

    overflow: auto;
    
    transition: background-color 0.3s ease-in-out;
}

.flex-container > div:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.flex-navbar {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    align-items: center;
}

.flex-navbar > div {
    flex-grow: 1;

    background-color: rgb(241, 241, 241);

    text-align: center;

    overflow: auto;

    transition: background-color 0.3s ease-in-out;

    margin-bottom: 12px;
}

.flex-navbar > div:hover {
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.flex-navbar > div:first-child { 
    border-radius: 8px 0px 0px 8px;
}

.flex-navbar > div:last-child {
    border-radius: 0px 8px 8px 0px;
}

/* 
 * https://codepen.io/P1N2O/pen/pyBNzX 
 * Author: Manuel Pinto @P1N2O
 */
body {
	background: linear-gradient(-45deg, #cc2b5e, #753a88, #23a6d5, #23d5ab, #06beb6, #48b1bf);
	background-size: 2500% 2500%;
	animation: gradient 15s ease infinite;
    resize: horizontal;
    overflow: auto;
    margin: 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* 
 * https://codepen.io/imprakash/pen/GgNMXO
 * Author: Prakash GgNMXO @imprakash
 */

.click-overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.overlay {
    overflow-y: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 400ms;
    visibility: hidden;
    opacity: 0;
}
  
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
}
  
.popup h2 {
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    transition: color 0.3s ease-in-out;
    color: rgb(177, 177, 177);
}
  
@media screen and (max-width: 700px){
    .popup {
      width: 70%;
    }
}

.svg-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.svg-icon,
.svg-text {
    vertical-align: middle;
    display: inline-block;
}


.popup-sub-border {
    min-height: 100px;
    
    border-radius: 8px;
    background-color: rgb(241, 241, 241);

    padding: 8px;
    padding-left: 12px;
}

.Font1 {
    color: #333;
    font-family: Arial, sans-serif;
}